body{
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*Header section css begins*/
.header {
    background-color: #1F2937;
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 7.5%;
    padding-top: 1%;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5%;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul { 
    list-style: none;
}

.header-nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}


.header-content p:first-child{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-content p:nth-child(2){
    font-size: 18px;
    color: #E5E7EB;
}

.header-content button {
    color: white;
    background-color: #3882F6;
    padding: 16px 38px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
}

/*Header section css ends*/


/*Content section css starts*/


.content{
    padding-top: 1.5%;
    padding-bottom: 7.5%;
}
.content>p{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.card{ 
    max-width: 200px;
    height: auto;
    text-align: center;
    font-size: 18px;
    color:rgb(79, 79, 79) ;
}

.card img{
    max-width: 200px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

/*Content section css ends*/


/*Quote section css begins*/

.quote {
    padding: 5% 20%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
    font-style: italic;
}

.quote p:nth-child(2){
    text-align: right;
    font-style: normal;
    font-weight: bold;
}
/*Quote section css ends*/


/*call-to-action section css begins*/

.callToAction {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 6.5% 16%; 
    padding: 2% 2%;
    padding-top: 1.5%;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.callToAction p:first-child {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0px; ;
}

.callToAction p:nth-child(2) {
    margin-top: 8px; ;
}

.callToAction button{
    font-weight: bold;
    font-size: 24px;
    border: 2.5px solid #F9FAF8;
    border-radius: 13px;
    padding: 10px 40px;
    color: #F9FAF8;
    background-color: #3882F6;
}

/*call-to-action section css ends*/